h3 {
  margin: 40px 0 0;
}

a {
  color: #42b983;
}

.mainBody {
  background: url("forest2.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 1200px;
  height: 45em;
}

/* NAVBAR */
.bg-info {
  background-color: #DDD2D1 !important;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

/* NAVBAR */

.leftsidebar {
  overflow: scroll;
  background: rgba(31, 123, 106, 0.6);
  color: white;
  height: 30em;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 2em 6em 4em 4em;
  width: 30em;
  float: left;
  display: inline;
}

.selectedItemList{
  list-style-type: none;
  padding: 0;
}

.selectedItemList li {
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: rgba(31, 123, 106);
  cursor: pointer;
}

.selectedX {
  margin-left: 0.5em;
  font-size: 13px;
  color: rgba(233, 222, 222, 0.721);
}

.selectedItemList li:hover {
  font-weight: bold;
}

.selectedItemList li:hover .selectedX {
  font-weight: bold;
  color: white;
}

.selections {
  position: relative;
  margin: 30px auto;
  padding: 0 5px;
  min-height: 10em;
}

.selections h5 {
  font-size: 1.5em;
}

.selections ul {
  border: 1px solid transparent;
}

/* SEARCH RESULTS */
.searchBar {
  width: 100%;
}

.searchResults {
  position: absolute;
  overflow: scroll;
  max-height: 6.6em;
  width: 98%;
  border: 1px solid black;
  background-color: rgb(20, 145, 20);
}

.searchResultItem {
  cursor: pointer;
  border: 1px solid black;
}

.searchResultItem:hover {
  background-color: black;
}

/* END SEARCH RESULTS */

.eventsHolder {
  overflow: scroll;
  height: 20em;
  width: 40em;
  margin: 4em auto 0 auto;
}

.loginHeader {
  margin-bottom: 1em;
}

.performerCarousel {
  height: 15em;
  width: 15em;
  margin: 2em auto 0 auto;
  border: 1px solid transparent;
  background-color: transparent;
}

.performerCarousel p {
  margin-top: 20em;
}

.performerCarousel .carousel-caption {
  padding: 0;
  bottom: 0;
  font-size: 1.2em;
}

.performerSlide {
  border-radius: 20px;
}

.performerSlide img {
  display: block;
  height: 15em;
  width: 15em;
}

#performerCarouselLeft {
  position: absolute;
  margin-top: 1em;
}

#performerCarouselMain {
  position: absolute;
  margin-top: 3em;
  margin-left: 12em;
}

#performerCarouselRight {
  position: absolute;
  margin-left: 24em;
  margin-top: 1em;
  opacity: 0.3;
}

#performerCarouselLeft {
  opacity: 0.3;
}

.playlistcontent {
    height: 35em;
    margin: 0;
    padding: 0;
    float: left;
    display: inline;
}

.playlistcontent .btn { 
    color: white;
    background: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    margin-top: 4em;
    margin-right: 1em;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 200px;
    text-transform: uppercase;
    white-space: normal;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.playlistResult {
  margin-top: 1em;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.navbar {
  margin: 0;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width:1300px) {
  .leftsidebar {
    width: 45em;
    margin: 2em auto 0 auto;
    display: block;
    float: none;
  }

  .searchResults {
    width: 98.5%;
  }

  .playlistcontent {
    display: block;
    float: none;
    height: 20em;
  }

  .eventsHolder {
    margin-top: 2em;
  }

  .loginHeader {
    margin-bottom: 0.5em;
  }

  .mainBody {
    height: 62em;
    color: white;
    border-top: 1px solid #DDD2D1;
  }

  .playlistcontent .btn { 
    margin-top: 3em;
  }
}

@media (max-width:900px) {
  .leftsidebar {
    width: 40em;
  }
}

@media (max-width:768px) {
  .leftsidebar {
    width: 35em;
  }

  .eventsHolder {
    overflow: hidden;
  }

  #performerCarouselRight {
    display: none;
  }
  
  #performerCarouselLeft {
    display: none;
  }

  .loginHeader {
    margin-bottom: -1em;
  }

  .playlistcontent .btn { 
    margin-top: 0.5em;
  }

  .mainBody {
    height: 60em;
  }
}

@media (max-width:635px) {
  .leftsidebar {
    width: 30em;
  }

  .eventsHolder {
    width: 25em;
  }

  .loginHeader {
    font-size: 1.5em;
  }

  #performerCarouselMain {
    position: relative;
    margin: 3em auto;
  }

  .playlistcontent .btn { 
    margin-left: 1em;
  }
}

@media (max-width:525px) {
  .leftsidebar {
    width: 25em;
  }

  .searchResults {
    width: 97.5%;
  }
} 

@media (max-width:425px) {
  .leftsidebar {
    width: 20em;
  }

  .loginHeader {
    font-size: 1.4em;
  }

  html {
    width: 425px;
  }
} 
