h3 {
  margin: 40px 0 0;
}

a {
  color: #42b983;
}

.mainBody {
  background: url("forest2.jpg");
  background-repeat: no-repeat;
  background-size: 1500px 1200px;
  height: 45em;
}

/* NAVBAR */
.bg-info {
  /* #DDD2D1 */
  background-color: #DDD2D1 !important;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

/* NAVBAR */

.leftsidebar {
  overflow: scroll;
  background: rgba(31, 123, 106, 0.6);
  color: white;
  height: 35em;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 2em 5em 5em 5em;
}

.leftsidebar ul {
  list-style-type: none;
  padding: 0;
}

.leftsidebar li {
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: rgba(31, 123, 106);
  cursor: pointer;
}

.selectedX {
  margin-left: 0.5em;
  font-size: 13px;
  color: rgba(233, 222, 222, 0.721);
}

.leftsidebar li:hover {
  font-weight: bold;
}

.leftsidebar li:hover .selectedX {
  font-weight: bold;
  color: white;
}

.selections {
    margin: 5px auto;
    padding: 0 5px;
}

.selections ul {
    border: 1px solid transparent;
}

.eventsHolder {
  overflow: scroll;
  height: 20em;
  width: 40em;
  margin: 6em auto 0 auto;
}

.performerCarousel {
  height: 15em;
  width: 15em;
  margin: 2em auto 0 auto;
  border: 1px solid transparent;
  background-color: transparent;
}

.performerCarousel p {
  margin-top: 20em;
}

.performerCarousel .carousel-caption {
  padding: 0;
  bottom: 0;
}

.performerSlide {
  border-radius: 20px;
}

#performerCarouselLeft {
  position: absolute;
  margin-top: 1em;
}

#performerCarouselMain {
  position: absolute;
  margin-top: 3em;
  margin-left: 12em;
}

#performerCarouselRight {
  position: absolute;
  margin-left: 24em;
  margin-top: 1em;
}

#performerCarouselLeft {
  opacity: 0.6;
}

#performerCarouselRight {
  opacity: 0.6;
}

.playlistcontent {
    height: 35em;
    margin: 0;
    padding: 0;
}

.playlistcontent .btn { 
    color: white;
    background: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    margin-top: 2em;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 200px;
    text-transform: uppercase;
    white-space: normal;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar {
  margin: 0;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}