h3 {
  margin: 40px 0 0;
}

a {
  color: #42b983;
}

/* NAVBAR */
.bg-info {
  background-color: rgb(240, 185, 82) !important;
}

.navbar-dark .navbar-brand {
  color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

/* NAVBAR */

.leftsidebar {
    overflow: scroll;
    height: 35em;
    border: 2px solid black;
    margin: 0;
    padding: 0;
}

.leftsidebar ul {
  list-style-type: none;
  padding: 0;
}

.leftsidebar li {
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
}

.selections {
    margin: 5px auto;
    padding: 0 5px;
}

.selections ul {
    border: 1px solid black;
}

.playlistcontent {
    border: 2px solid black;
    background: url("forest.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 800px;
    border-left: 0;
    margin: 0;
    padding: 0;
}

.playlistcontent .btn { 
    color: white;
    background: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    margin-top: 17em;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 200px;
    text-transform: uppercase;
    white-space: normal;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar {
  margin: 0;
}

.footer {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
}